.minecraft-text-generator {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: min-content auto;
  height: 100%;

  #toolbar {
    grid-column: 1 / 3;
  }

  &__textarea {
    resize: none;
    height: 100%;
  }
}
